
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.4rem;
    overflow-x: hidden;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 990;
}

.link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 44px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}



.input {
    display: none;
}

label {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: scale(0.8);
    padding-top: 10px;
    z-index: 99999;

}



label div {
    position: relative;
    top: 0;
    height: 4px;
    background-color: #000;
    margin-bottom: 10px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
        0.3s ease right;
    border-radius: 2px;

}

label div:first-child {
    transform-origin: 0;
}

label div:last-child {
    margin-bottom: 0;
    transform-origin: 40px;
}

label div:nth-child(2) {
    right: 0;
    width: 50px;
}


.input:checked+label div:first-child {
    top: -6px;
    transform: rotateZ(45deg);
}

.input:checked+label div:last-child {
    left: -4px;
    top: 2px;
    transform: rotateZ(45deg);
}

.input:checked+label div:nth-child(2) {
    width: 60px;
    top: 0;
    right: 10px;
    transform: rotateZ(-45deg);
}

/* .menu {
    width: 50%;
    height: 100vh;
    transform: translateX(150%);
    z-index: 2;
    transition: transform 0.2s ease-in-out;
    position: absolute;
}

.menu.active {
    transform: translateX(100%);
    position: fixed;
    background-color: rgb(26, 110, 0);
    z-index: 2;
    transition: transform 0.2s ease-in-out;
} */






@media only screen and (min-width: 767px) {
    .header {
        padding: 1.2rem 3rem;
    }

    .link {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 1199px) {
    .header {
        padding: 1.2rem 6rem;
    }

    .link {
        font-size: 2.2rem;
    }
}